---
import ScreenColumn from "components/controls/ScreenColumn.astro";
import { z } from "astro:content";

const schema = z.object({
  subtitle: z.string(),
  title: z.string(),
});

type Props = z.input<typeof schema>;
const { subtitle, title } = schema.parse(Astro.props);
---

<ScreenColumn
  innerClass="px-2 pt-48 pb-32 md:pt-60 md:pb-48 text-white font-display"
  outerClass="bg-[#0e202e]"
  element="section"
>
  <h1 class="text-4xl font-semibold md:text-5xl">{title}</h1>
  <p class="mt-2 md:text-xl">{subtitle}</p>
</ScreenColumn>
