---
import { props } from "utils/props";
import { z } from "astro:content";

const schema = z.intersection(
  props.className,
  z.object({
    href: z.string(),
  }),
);

type Props = z.input<typeof schema>;
const { className, href } = schema.parse(Astro.props);
---

<a
  class:list={["text-blue-700 hover:text-blue-800 hover:underline", className]}
  {href}
>
  <slot />
</a>
