---
import "styles/global.css";
---

<!doctype html>
<html lang="en" class="m-0 h-full w-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap"
      rel="stylesheet"
    />
    <title>Are We Urban Yet?</title>
  </head>
  <body class="m-0 flex h-full w-full flex-col">
    <slot />
  </body>
</html>
